---
import Layout from "../layouts/Layout.astro";
import Topbar from "../components/Topbar.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import UspBar from "../components/UspBar.astro";
import Services from "../components/Services.astro";
import WhyPalletman from "../components/WhyPalletman.astro";
import Process from "../components/Process.astro";
import CtaBanner from "../components/CtaBanner.astro";
import Footer from "../components/Footer.astro";
import WhatsAppFloat from "../components/WhatsAppFloat.astro";

const siteUrl = "https://de-palletman.pages.dev/";

const title = "Gebruikte pallets kopen & verkopen | De Palletman";

const description =
  "Gebruikte pallets kopen of verkopen? De Palletman levert aan bedrijven en koopt in van bedrijven en particulieren. Europallets, blokpallets, ophalen en bezorgen.";

const localBusinessSchema = {
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  name: "De Palletman",
  description:
    "De Palletman koopt pallets in van bedrijven en particulieren en levert gebruikte pallets, europallets en blokpallets uitsluitend aan bedrijven.",
  url: siteUrl,
  telephone: "+31612345678",
  email: "info@depalletman.nl",
  areaServed: [
    "Noord-Brabant",
    "Zuid-Holland",
    "Zeeland",
    "Limburg",
    "Utrecht",
    "Gelderland",
  ],
  priceRange: "$$",
  sameAs: [],
};
---

<Layout
  title={title}
  description={description}
  canonical={siteUrl}
  ogTitle={title}
  ogDescription={description}
  ogImage={`${siteUrl}favicon.svg`}
  schema={localBusinessSchema}
>
  <Topbar />
  <Header currentPath="/" />
  <main>
    <Hero />
    <UspBar />
    <Services />
    <WhyPalletman />
    <Process />
    <CtaBanner />
  </main>
  <Footer />
  <WhatsAppFloat />
</Layout>
